<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" >
<link href="../../static/bootstrap/css/bootstrap.min.css"
      th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" >
<script src="../../static/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

<link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

<body>


<div th:replace="fragments/header::blog_header"></div>



    <div class="container mt-5">

        <form action="myBlogInsert" method="post" enctype="multipart/form-data">

            <input type="hidden" th:value="${blogNo}" name="blogNo">
            <input type="hidden" th:value="${userNickName}" name="userNickName">

                <div class="mb-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해주세요.">
                </div>


        <select class="form-select mb-3" name="category"  th:filed="*{category}" aria-label="Default select example">
            <option th:each="category : ${category}"
                    th:value="${category.categoryName}"
                    th:if="${category.categoryName != '------------------------------'}">[[${category.categoryName}]] </option>
        </select>
                <!--선택된 카테고리 값 넘기기 -->


        <div class="mb-3">
            <input type="file" class="form-control" multiple="multiple" id="imagePath" name="multipartFileList">
        </div>

        <div class="mb-3">
                <div contenteditable="true" id="blogContent"  style="border:1px solid gray; height:600px; overflow:scroll">



                </div>
        </div>

        <input type="hidden" value=" " id="content" name="content"> <!-- 글 쓴 내용을 저장,전송할 태그  -->
        <div class="d-flex justify-content-center mb-5">
            <button type="submit" id="saveContent" class="form-control">완료</button>
                                            <!--버튼 클릭시 div태그의 내용이 input 태그의 val 에 저장됨  -->
        </div>
    </form>
    </div>




<script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script th:inline="javascript">



document.execCommand('defaultParagraphSeparator', false, 'p');


    const dataTransfer = new DataTransfer();
    var sel_files = []
    var Uuid = ''
    $('#imagePath').change(function(e){
        let fileArr = document.getElementById('imagePath').files
        let fileArrUuid = []

        for(let i=0; i < fileArr.length; i++){
            uuid = self.crypto.randomUUID()                 //실제 파일 확장자로 변경
            fileArrUuid.push(new File([fileArr[i]], uuid + '.jpg', { type: fileArr[i].type }))
           }

        Uuid += fileArrUuid[0].name + '/'
        let fileArr2  = Array.prototype.slice.call(fileArrUuid)

        if(fileArrUuid != null && fileArrUuid.length > 0){
            for(let i = 0; i<fileArrUuid.length; i++){
                dataTransfer.items.add(fileArrUuid[i])  //base64암호화 메서드
            }
            document.getElementById("imagePath").files = dataTransfer.files;
        }


        // 파일 업로드
        fileArr2.forEach(function(f){

            if(!f.type.match('image.*')){
                alert('오류')
            }
            sel_files.push(f)

            var reader = new FileReader();
            reader.onload = function(e){
                var img_html = "<img width='350px' name='contentImg' src=\"" + e.target.result + "\" />"
                $("#blogContent").append(img_html)  //#content 영역의 마지막 요소/데이터에 append
            }
            reader.readAsDataURL(f)
        })
    })




function delete2(fileNum){	//fileNum은 li 의 index 값
    const dataTransfer = new DataTransfer();

    let files = $('#file')[0].files;	//사용자가 입력한 파일을 변수에 할당

    //이미지 태그의 값들과 비교해서 삭제 -> base64복호화 후 이미지 이름 구하기 필요
    let fileArray = Array.from(files);	//변수에 할당된 파일을 배열로 변환(FileList -> Array)

    fileArray.splice(fileNum, 1);	//해당하는 index의 파일을 배열에서 제거

    fileArray.forEach(file => { dataTransfer.items.add(file); });  //남은 배열을 dataTransfer로 처리(Array -> FileList)

    $('#file')[0].files = dataTransfer.files;	//제거 처리된 FileList를 돌려줌
}






$('#saveContent').click(function(e){

    let content = []
    let j = 0;
    var str = []
    content = $('#blogContent').children()
    let text = $('#blogContent')
    let UuidArr = Uuid.split("/")
    let count = 0



    if($('#title')[0].value.length == 0){

        e.preventDefault()
        alert('제목을 입력해주세요.')
        return
    }


    console.log(content)

    if(content.length != 0 ){
        if(content[0].localName != 'img'){
            str[count] = text[0].childNodes[0].data
            count++

        }

    }else{

        str[count] = content.prevObject[0].innerHTML
        count++
    }


    for(let i = 0  ; i < content.length; i++){

        if(content[i].localName === 'p'){  //태그명
            str[count] = content[i].innerHTML
            count++

        }else if(content[i].localName === 'img'){
             str[count] = UuidArr[j]
             count++
             j++
        }else{
            console.log('error')
        }
    }


    $('#content').val(str)










})





</script>

</body>
</html>