<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="Main_header">


        <!--header 영역-->
        <div class = container>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Free-Blog</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">

                        <div class="nav-item col-12">
                            <form class="d-flex justify-content-center" role="search">

                                <div class="col-8">
                                    <input class="form-control me-2 w-100" type="search" placeholder="관심사를 검색해보세요" aria-label="Search">
                                </div>

                            </form>
                        </div>
                    <form role="search">



                    </form>
                </div>
            </div>
        </nav>

        </div>



    </div> <!--end main header -->





    <div th:fragment="blog_header">
        <!--header 영역-->
        <div class = container>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Free-Blog</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">

                            <div class="nav-item col-12">
                                <form class="d-flex justify-content-center" role="search">

                                    <div class="col-8">
                                        <input class="form-control me-2 w-100" type="search" placeholder="관심사를 검색해보세요" aria-label="Search">
                                    </div>

                                </form>
                            </div>
                            <form role="search">



                        </form>
                    </div>
                </div>
            </nav>

        </div>



    </div>




</html>